.container {
  display: flex;
}

body{
  background-color: grey;
}

.grid {
  width: 280px;
  height: 568px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: yellow; */
}

.grid div {
  height: 20px;
  width: 20px;
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-color:yellow;
}

.tetromino {
  border-color: #ffffed !important;
}

.mini-grid {
  margin-left: 50px;
  width: 96px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  margin: 2px;
}
